<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile-WebOffice</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">

    <!-- Icons  -->
    <script src="https://kit.fontawesome.com/49134e791d.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- External css  -->
    <link rel="stylesheet" href="/assets/dashboard_template.css">
    <link rel="stylesheet" href="/assets/clients_profile.css">
    <link rel="stylesheet" href="/assets/Employee Profile.css">
</head>

<body>
    
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">
        
            <!-- Logo -->
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="Images/review3.png" width="40" height="40" alt="">
                </a>
            </div>
            <!-- /Logo -->
            
            <a id="toggle_btn" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
            
            <!-- Header Title -->
            <div class="page-title-box">
                <h3>WebOffice</h3>
            </div>
            <!-- /Header Title -->
            
            <!-- Header Menu -->
            <ul class="nav user-menu">
            
                <!-- Search -->
                <li class="nav-item">
                    <div class="top-nav-search">
                        <form action="search.html">
                            <input class="form-control" type="text" placeholder="Search here">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </li>
                <!-- /Search -->
            
                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-06.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="" src="assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->
                
                <!-- Message Notifications -->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fa fa-comment-o"></i> <span class="badge badge-pill">8</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Messages</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="chat.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar">
                                                    <img alt="" src="assets/img/profiles/avatar-09.jpg">
                                                </span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author">Richard Miles </span>
                                                <span class="message-time">12:28 AM</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="chat.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar">
                                                    <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                                </span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author">John Doe</span>
                                                <span class="message-time">6 Mar</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="chat.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar">
                                                    <img alt="" src="assets/img/profiles/avatar-03.jpg">
                                                </span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author"> Tarah Shropshire </span>
                                                <span class="message-time">5 Mar</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="chat.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar">
                                                    <img alt="" src="assets/img/profiles/avatar-05.jpg">
                                                </span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author">Mike Litorus</span>
                                                <span class="message-time">3 Mar</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="chat.html">
                                        <div class="list-item">
                                            <div class="list-left">
                                                <span class="avatar">
                                                    <img alt="" src="assets/img/profiles/avatar-08.jpg">
                                                </span>
                                            </div>
                                            <div class="list-body">
                                                <span class="message-author"> Catherine Manseau </span>
                                                <span class="message-time">27 Feb</span>
                                                <div class="clearfix"></div>
                                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="chat.html">View all Messages</a>
                        </div>
                    </div>
                </li>
                <!-- /Message Notifications -->

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img"><img src="/Images/review3.png" alt="">
                        <span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/employeeprofile">My Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="/login">Logout</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            
        </div>
        <!-- /Header -->

        <div class="navigation">
            <ul>
                <li  class="active-btn">
                    <a href="/dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/employee">
                      <span class="icon">
                        <i class="fa-solid fa-users"></i>
                      </span>
                      <span class="title">Employees</span>
                    </a>
                  </li>
                  <li>
                    <a href="/projects">
                      <span class="icon">
                        <i class="fa-solid fa-list-check"></i>
                      </span>
                      <span class="title">Projects</span>
                    </a>
                  </li>
                <li>
                    <a href="/attendance">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">Attendance</span>
                    </a>
                </li>
                <li>
                <li>
                    <a href="/clients">
                        <span class="icon">
                            <i class="fa-solid fa-people-group"></i>
                        </span>
                        <span class="title">Clients</span>
                    </a>
                </li>
                <li>
                    <a href="/leaves">
                        <span class="icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </span>
                        <span class="title">Leaves</span>
                    </a>
                </li>
                <li>
                    <a href="/clientprofile">
                        <span class="icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <span class="title">Clients profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>
            </ul>
          </div>


        <div class="page-wrapper">
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Profile</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <div class="profile-img-wrap">
                                        <div class="profile-img">
                                            <a href="#"><img alt="" src="/Images/review6.png"></a>
                                        </div>
                                    </div>
                                    <div class="profile-basic">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="profile-info-left">
                                                    <h3 class="user-name m-t-0 mb-0">Rahul</h3>
                                                    <h6 class="text-muted">Web Design Team</h6>
                                                    <small class="text-muted">Web Designer</small>
                                                    <div class="staff-id">Employee ID : FT-0001</div>
                                                    <div class="small doj text-muted">Date of Join : 1st April 2022</div>
                                                    <!-- <div class="staff-msg"><a class="btn btn-custom" href="chat.html">Send Message</a>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <ul class="personal-info">
                                                    <li>
                                                        <div class="title">Phone:</div>
                                                        <div class="text"><a href="">9876543210</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Email:</div>
                                                        <div class="text"><a href="">rahulk@example.com</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Birthday:</div>
                                                        <div class="text">24th July</div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Address:</div>
                                                        <div class="text">Gnan marg, Sri City, A.P</div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Gender:</div>
                                                        <div class="text">Male</div>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-edit"><a data-target="#profile_info" data-bs-toggle="modal" class="edit-icon"
                                            href="#"><i class="fa fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card tab-box">
                    <div class="row user-tabs">
                        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                            <ul class="nav nav-tabs nav-tabs-bottom">
                                <li class="nav-item"><a href="#emp_profile" data-bs-toggle="tab" class="nav-link active">Profile</a></li>
                                <li class="nav-item"><a href="#emp_projects" data-bs-toggle="tab" class="nav-link">Projects</a></li>
                                <li class="nav-item"><a href="#bank_statutory" data-bs-toggle="tab" class="nav-link">Bank &amp; Statutory
                                        <small class="text-danger">(Admin Only)</small></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                
                    <!-- Profile Info Tab -->
                    <div id="emp_profile" class="pro-overview tab-pane fade show active">
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <div class="card profile-box flex-fill">
                                    <div class="card-body">
                                        <h3 class="card-title">Personal Informations <a href="#" class="edit-icon" data-bs-toggle="modal"
                                                data-target="#personal_info_modal"><i class="fa fa-pencil"></i></a></h3>
                                        <ul class="personal-info">
                                            
                                            <li>
                                                <div class="title">Tel</div>
                                                <div class="text"><a href="">9876543210</a></div>
                                            </li>
                                            <li>
                                                <div class="title">Nationality</div>
                                                <div class="text">Indian</div>
                                            </li>
                                            <li>
                                                <div class="title">Religion</div>
                                                <div class="text">Christian</div>
                                            </li>
                                            <li>
                                                <div class="title">Marital status</div>
                                                <div class="text">Married</div>
                                            </li>
                                            <li>
                                                <div class="title">Employment of spouse</div>
                                                <div class="text">No</div>
                                            </li>
                                            <br>
                                            <li>
                                                <div class="title">No. of children</div>
                                                <div class="text">2</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex">
                                <div class="card profile-box flex-fill">
                                    <div class="card-body">
                                        <h3 class="card-title">Emergency Contact <a href="#" class="edit-icon" data-bs-toggle="modal"
                                                data-target="#emergency_contact_modal"><i class="fa fa-pencil"></i></a></h3>
                                        <h5 class="section-title">Primary</h5>
                                        <ul class="personal-info">
                                            <li>
                                                <div class="title">Name</div>
                                                <div class="text">Vaibhav</div>
                                            </li>
                                            <li>
                                                <div class="title">Relationship</div>
                                                <div class="text">Father</div>
                                            </li>
                                            <li>
                                                <div class="title">Phone </div>
                                                <div class="text">9876543210, 9876543210</div>
                                            </li>
                                        </ul>
                                        <hr>
                                        <h5 class="section-title">Secondary</h5>
                                        <ul class="personal-info">
                                            <li>
                                                <div class="title">Name</div>
                                                <div class="text">Sai</div>
                                            </li>
                                            <li>
                                                <div class="title">Relationship</div>
                                                <div class="text">Brother</div>
                                            </li>
                                            <li>
                                                <div class="title">Phone </div>
                                                <div class="text">9876543210, 9876543210</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <div class="card profile-box flex-fill">
                                    <div class="card-body">
                                        <h3 class="card-title">Bank information</h3>
                                        <ul class="personal-info">
                                            <li>
                                                <div class="title">Bank name</div>
                                                <div class="text">ICICI Bank</div>
                                            </li>
                                            <li>
                                                <div class="title">Bank account No.</div>
                                                <div class="text">159843014641</div>
                                            </li>
                                            <li>
                                                <div class="title">IFSC Code</div>
                                                <div class="text">ICI24504</div>
                                            </li>
                                            <li>
                                                <div class="title">PAN No</div>
                                                <div class="text">AP19291821</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex">
                                <div class="card profile-box flex-fill">
                                    <div class="card-body">
                                        <h3 class="card-title">Family Informations <a href="#" class="edit-icon" data-bs-toggle="modal"
                                                data-target="#family_info_modal"><i class="fa fa-pencil"></i></a></h3>
                                        <div class="table-responsive">
                                            <table class="table table-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Relationship</th>
                                                        <th>Date of Birth</th>
                                                        <th>Phone</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Sai</td>
                                                        <td>Brother</td>
                                                        <td>Feb 16th, 2019</td>
                                                        <td>9876543210</td>
                                                        <td class="text-right">
                                                            <div class="dropdown dropdown-action">
                                                                <a aria-expanded="false" data-bs-toggle="dropdown"
                                                                    class="action-icon dropdown-toggle" href="#"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a href="#" class="dropdown-item"><i class="fa fa-pencil m-r-5"></i>
                                                                        Edit</a>
                                                                    <a href="#" class="dropdown-item"><i
                                                                            class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <div class="card profile-box flex-fill">
                                    <div class="card-body">
                                        <h3 class="card-title">Education Informations <a href="#" class="edit-icon" data-bs-toggle="modal"
                                                data-target="#education_info"><i class="fa fa-pencil"></i></a></h3>
                                        <div class="experience-box">
                                            <ul class="experience-list">
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="#/" class="name">IIITS (UG)</a>
                                                            <div>Computer Science</div>
                                                            <span class="time">2012 - 2016</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="#/" class="name">International College of Arts and Science (PG)</a>
                                                            <div>Msc Computer Science</div>
                                                            <span class="time">2016 - 2018</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex">
                                <div class="card profile-box flex-fill">
                                    <div class="card-body">
                                        <h3 class="card-title">Experience <a href="#" class="edit-icon" data-bs-toggle="modal"
                                                data-target="#experience_info"><i class="fa fa-pencil"></i></a></h3>
                                        <div class="experience-box">
                                            <ul class="experience-list">
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="#/" class="name">Web Designer at Flipkart</a>
                                                            <span class="time">Jan 2013 - Present</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="#/" class="name">Web Designer at Zenpact</a>
                                                            <span class="time">Mar 2010 - 2013</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Profile Info Tab -->
                
                    <!-- Projects Tab -->
                    <div class="tab-pane fade" id="emp_projects">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"
                                                href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-target="#edit_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a data-target="#delete_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a href="project-view.html">Office Management</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2019
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img
                                                            alt="" src="/Images/review3.png"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Doe"><img
                                                            alt="" src="/Images/review4.png"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Richard Miles"><img
                                                            alt="" src="/Images/review6.png"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Smith"><img
                                                            alt="" src="/Images/review3.png"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Mike Litorus"><img
                                                            alt="" src="/Images/review6.png"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"
                                                href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-target="#edit_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a data-target="#delete_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a href="project-view.html">Project Management</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs">2</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs">5</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2019
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img
                                                            alt="" src="assets/img/profiles/avatar-16.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Doe"><img
                                                            alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Richard Miles"><img
                                                            alt="" src="assets/img/profiles/avatar-09.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Smith"><img
                                                            alt="" src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Mike Litorus"><img
                                                            alt="" src="assets/img/profiles/avatar-05.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"
                                                href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-target="#edit_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a data-target="#delete_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a href="project-view.html">Video Calling App</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs">3</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs">3</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2019
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img
                                                            alt="" src="assets/img/profiles/avatar-16.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Doe"><img
                                                            alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Richard Miles"><img
                                                            alt="" src="assets/img/profiles/avatar-09.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Smith"><img
                                                            alt="" src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Mike Litorus"><img
                                                            alt="" src="assets/img/profiles/avatar-05.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown profile-action">
                                            <a aria-expanded="false" data-bs-toggle="dropdown" class="action-icon dropdown-toggle"
                                                href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a data-target="#edit_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a data-target="#delete_project" data-bs-toggle="modal" href="#" class="dropdown-item"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                        <h4 class="project-title"><a href="project-view.html">Hospital Administration</a></h4>
                                        <small class="block text-ellipsis m-b-15">
                                            <span class="text-xs">12</span> <span class="text-muted">open tasks, </span>
                                            <span class="text-xs">4</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. When an unknown printer took a galley of type and
                                            scrambled it...
                                        </p>
                                        <div class="pro-deadline m-b-15">
                                            <div class="sub-title">
                                                Deadline:
                                            </div>
                                            <div class="text-muted">
                                                17 Apr 2019
                                            </div>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Project Leader :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img
                                                            alt="" src="assets/img/profiles/avatar-16.jpg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="project-members m-b-15">
                                            <div>Team :</div>
                                            <ul class="team-members">
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Doe"><img
                                                            alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Richard Miles"><img
                                                            alt="" src="assets/img/profiles/avatar-09.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="John Smith"><img
                                                            alt="" src="assets/img/profiles/avatar-10.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Mike Litorus"><img
                                                            alt="" src="assets/img/profiles/avatar-05.jpg"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="all-users">+15</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
                                        <div class="progress progress-xs mb-0">
                                            <div style="width: 40%" title="" data-bs-toggle="tooltip" role="progressbar"
                                                class="progress-bar bg-success" data-original-title="40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Projects Tab -->
                
                    <!-- Bank Statutory Tab -->
                    <div class="tab-pane fade" id="bank_statutory">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"> Basic Salary Information</h3>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Salary basis <span class="text-danger">*</span></label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-1-97l3"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-3-1oem">Select salary basis type</option>
                                                    <option>Hourly</option>
                                                    <option>Daily</option>
                                                    <option>Weekly</option>
                                                    <option>Monthly</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-2-odcw" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-y74y-container"
                                                            aria-controls="select2-y74y-container"><span
                                                                class="select2-selection__rendered" id="select2-y74y-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select salary basis type">Select salary basis type</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Salary amount <small class="text-muted">per
                                                        month</small></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Type your salary amount"
                                                        value="0.00">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Payment type</label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-4-4rpc"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-6-dlnf">Select payment type</option>
                                                    <option>Bank transfer</option>
                                                    <option>Check</option>
                                                    <option>Cash</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-5-6jl1" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-yzbu-container"
                                                            aria-controls="select2-yzbu-container"><span
                                                                class="select2-selection__rendered" id="select2-yzbu-container"
                                                                role="textbox" aria-readonly="true" title="Select payment type">Select
                                                                payment type</span><span class="select2-selection__arrow"
                                                                role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h3 class="card-title"> PF Information</h3>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">PF contribution</label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-7-hayt"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-9-n8hf">Select PF contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-8-gvtq" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-5v8a-container"
                                                            aria-controls="select2-5v8a-container"><span
                                                                class="select2-selection__rendered" id="select2-5v8a-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select PF contribution">Select PF contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">PF No. <span class="text-danger">*</span></label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-10-jo2g"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-12-a1gt">Select PF contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-11-ir0o" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-8o6h-container"
                                                            aria-controls="select2-8o6h-container"><span
                                                                class="select2-selection__rendered" id="select2-8o6h-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select PF contribution">Select PF contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee PF rate</label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-13-k2fc"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-15-rik9">Select PF contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-14-l1e0" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-2tix-container"
                                                            aria-controls="select2-2tix-container"><span
                                                                class="select2-selection__rendered" id="select2-2tix-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select PF contribution">Select PF contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Additional rate <span class="text-danger">*</span></label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-16-1cvy"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-18-dmod">Select additional rate</option>
                                                    <option>0%</option>
                                                    <option>1%</option>
                                                    <option>2%</option>
                                                    <option>3%</option>
                                                    <option>4%</option>
                                                    <option>5%</option>
                                                    <option>6%</option>
                                                    <option>7%</option>
                                                    <option>8%</option>
                                                    <option>9%</option>
                                                    <option>10%</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-17-dfhu" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-elqm-container"
                                                            aria-controls="select2-elqm-container"><span
                                                                class="select2-selection__rendered" id="select2-elqm-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select additional rate">Select additional rate</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Total rate</label>
                                                <input type="text" class="form-control" placeholder="N/A" value="11%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee PF rate</label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-19-0du4"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-21-hnu9">Select PF contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-20-lamt" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-px9k-container"
                                                            aria-controls="select2-px9k-container"><span
                                                                class="select2-selection__rendered" id="select2-px9k-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select PF contribution">Select PF contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Additional rate <span class="text-danger">*</span></label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-22-8x7x"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-24-1ynp">Select additional rate</option>
                                                    <option>0%</option>
                                                    <option>1%</option>
                                                    <option>2%</option>
                                                    <option>3%</option>
                                                    <option>4%</option>
                                                    <option>5%</option>
                                                    <option>6%</option>
                                                    <option>7%</option>
                                                    <option>8%</option>
                                                    <option>9%</option>
                                                    <option>10%</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-23-w082" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-mupg-container"
                                                            aria-controls="select2-mupg-container"><span
                                                                class="select2-selection__rendered" id="select2-mupg-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select additional rate">Select additional rate</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Total rate</label>
                                                <input type="text" class="form-control" placeholder="N/A" value="11%">
                                            </div>
                                        </div>
                                    </div>
                
                                    <hr>
                                    <h3 class="card-title"> ESI Information</h3>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">ESI contribution</label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-25-fzev"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-27-iytj">Select ESI contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-26-00r4" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-1fx8-container"
                                                            aria-controls="select2-1fx8-container"><span
                                                                class="select2-selection__rendered" id="select2-1fx8-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select ESI contribution">Select ESI contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">ESI No. <span class="text-danger">*</span></label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-28-0ox2"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-30-i61l">Select ESI contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-29-1abs" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-076d-container"
                                                            aria-controls="select2-076d-container"><span
                                                                class="select2-selection__rendered" id="select2-076d-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select ESI contribution">Select ESI contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee ESI rate</label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-31-zu96"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-33-mlfy">Select ESI contribution</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-32-1hvg" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-wd8v-container"
                                                            aria-controls="select2-wd8v-container"><span
                                                                class="select2-selection__rendered" id="select2-wd8v-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select ESI contribution">Select ESI contribution</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Additional rate <span class="text-danger">*</span></label>
                                                <select class="select select2-hidden-accessible" data-select2-id="select2-data-34-m216"
                                                    tabindex="-1" aria-hidden="true">
                                                    <option data-select2-id="select2-data-36-8io8">Select additional rate</option>
                                                    <option>0%</option>
                                                    <option>1%</option>
                                                    <option>2%</option>
                                                    <option>3%</option>
                                                    <option>4%</option>
                                                    <option>5%</option>
                                                    <option>6%</option>
                                                    <option>7%</option>
                                                    <option>8%</option>
                                                    <option>9%</option>
                                                    <option>10%</option>
                                                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                                    data-select2-id="select2-data-35-7oke" style="width: 100%;"><span
                                                        class="selection"><span class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                                                            aria-disabled="false" aria-labelledby="select2-5q04-container"
                                                            aria-controls="select2-5q04-container"><span
                                                                class="select2-selection__rendered" id="select2-5q04-container"
                                                                role="textbox" aria-readonly="true"
                                                                title="Select additional rate">Select additional rate</span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Total rate</label>
                                                <input type="text" class="form-control" placeholder="N/A" value="11%">
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Bank Statutory Tab -->
                
                </div>

                <!-- Main html code goes here  -->
                </div>
            </div>
        </div>
        <!-- /Main Wrapper -->
        <script src="/assets/dashboard_template.js"></script>
    </body>

</html>
